html {
    font-size: 100%;
}

.abc {
    width: 1200px;
    margin: 0 auto;
}

.form {
    margin-top: 2rem;
}

.form .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
    margin-bottom: 1rem;
}

.form label {
    font-weight: bold;
}

.form label,
.form input:not([type=checkbox]) {
    display: block;
    margin-bottom: .7rem;
}

.form input:focus {
    background-color: rgb(170, 220, 243);
}

.form input.form-control {
    width: 70%;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 3);
}

.form input.form-control::-webkit-input-placeholder {
    color: rgb(224, 6, 42);
}

.checkbox {
    position: relative;
    padding-left: 2.1rem;
    padding-top: .4rem;
}

.checkbox input {
    display: none;
}

.checkbox .checkmark {
    display: block;
    height: 25px;
    width: 25px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}

.checkbox:hover .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
background-color: aqua;
}

.checkmark::after {
    content: "";
    position:absolute ;
    width: 5px;
    height: 10px;
    border: solid white;
    top: 5px;
    right: 7px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
