ul {
    color: rgb(18, 55, 56);
}

h1 {
    color: blueviolet;
}

table {
    color: red;
}

.hanane {
    color: green;
}

.color-blue {
    color: blue;
}

ol {
    font-weight: bold;
}

.color-blue.background-yello {
    font-size: large;
}

.dish {
    font-size: xx-large;
}

ul.color-pink {
    color: pink;
}

li.color-pink {
    color: pink;
}

a.color-pink {
    color: pink;
}

li.color-pink:hover {
    background-color: aqua;
}

form {

    padding-left: 700px;
}

h2 {
    padding-left: 900px;
}

.dish {
    padding-left: 320px;
    padding-top: 50px;
}

video {
    padding-left: 230px;
    padding-top: 30px;
}

#nanay {
    padding-left: 500px;
    border-color: crimson;
}

ul {
    padding-left: 90px;
}

h1 {
    padding-left: 280px;
    padding-top: 20px;
}

p {
    padding-left: 200px;
    padding-top: 20px;
}

#nini {
    padding-left: 500px;
    padding-top: 10px;
}

#boos {
    padding-left: 500px;
}

#qow {
    padding-left: 500px;
    border-color: rgb(255, 0, 127);
    border-style: solid;
    border-width: 3px;
}
