html {
    font-size: 100%;
}

body {
    padding: 2rem;
}

.header {
    background-color: #2980b9;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header .brand-name {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2rem;
    color: white;
}

.header .navbar a {
    text-decoration: none;
    margin-bottom: 1rem;
    color: white;
    margin-right: 1rem;
}

.main {
    background-color: #2980b9;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    color: white;
}

.sidebar {
    background-color: #2980b9;
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

.content {
    background-color: #2980b9;
    padding: 1rem;
    flex-basis: 66.66%;
    flex: 2;
    border-radius: 0.5rem;
}

.content .course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.content .course-list .box {
    background-color: #8e44ad;
    margin-bottom: 1rem;
    flex-grow: 1;
    text-align: center;
    gap: 0.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    flex-basis: calc(33.33% - 0.5rem);
}

.silam {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}



.mew {
    background-color: #2980b9;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: baseline;
    
}

.chert {
    background-color: #2980b9;
    padding: 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
}

.footer {
    background-color: #2980b9;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.aloo {
    background-color: #2980b9;
    padding: 1rem;
    margin-bottom: 1rem;
}

a {
    color: crimson;
}
